
<html>
  <head>
  <script src="vendor/angular.js"></script>
  <script src="controllers/CountryController.js"></script>
  <link href="vendor/style.css" type="text/css" rel="stylesheet">

    <title>AngularJS $http Rest example</title>  

    <head>
    <body ng-app="CountryManagement" ng-controller="CountryController">
         <h1>
           AngularJS Restful web services example using $http
        </h1>
        <form ng-submit="submitCountry()">
            <table>
                <tr>
                    <th colspan="2">Add/Edit country</th>
                </tr>
                <tr>
                    <td>Country</td>
                    <td><input type="text" ng-model="countryForm.countryName" /></td>
                </tr>
                <tr>
                    <td>Population</td>
                    <td><input type="text" ng-model="countryForm.population"  /></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Submit" class="blue-button" /></td>
                </tr>
            </table>
        </form>
        <table>
            <tr>
                <th>CountryName</th>
                <th>Population</th>
                <th>Operations</th>
            </tr>
 
            <tr ng-repeat="country in countries">

			    <td> {{ country.countryName }}</td>
			    <td >{{ country.population }}</td>  

                <td><a ng-click="editCountry(country)" class="blue-button">Edit</a> | <a ng-click="deleteCountry(country)" class="red-button">Delete</a></td>
            </tr>
 
        </table>
  </body>
</html>