<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Servlet-And-JSP-Applications</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>A</servlet-name>
    <servlet-class>com.examples.forwardIncludeAndSendredirect.ForwardAndInclude</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A</servlet-name>
    <url-pattern>/ForwardAndInclude</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>B</servlet-name>
    <servlet-class>com.examples.forwardIncludeAndSendredirect.ForwardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>B</servlet-name>
    <url-pattern>/ForwardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GenericServletDemo</servlet-name>
    <servlet-class>com.examples.genericservlet.GenericServletDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenericServletDemo</servlet-name>
    <url-pattern>/GenericServletDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GenericServletLink</servlet-name>
    <servlet-class>com.examples.genericservlet.GenericServletLink</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenericServletLink</servlet-name>
    <url-pattern>/GenericServletLink</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetParameterDemo</servlet-name>
    <servlet-class>com.examples.getparameters.GetParameterDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetParameterDemo</servlet-name>
    <url-pattern>/GetParameterDemo/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HiddenFormField</servlet-name>
    <servlet-class>com.examples.hiddenformfield.HiddenFormField</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenFormField</servlet-name>
    <url-pattern>/HiddenFormField</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HiddenFormField1</servlet-name>
    <servlet-class>com.examples.hiddenformfield.HiddenFormField1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenFormField1</servlet-name>
    <url-pattern>/HiddenFormField1</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.example.HttpSessionListener.HttpSessionCollector</listener-class>
  </listener>
</web-app>